body {
    background-color: #292929;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a {
    color: lightgray;
    text-decoration: none;
}